# shellcheck shell=sh

source_up_if_exists

use flake


#use_onepassword() {
#	test -f .env.tpl || return 0
#	direnv_load op run --env-file .env.tpl --no-masking -- direnv dump
#}
#
#watch_file .env.tpl
#use onepassword
