[submodule "shell/zsh/plugins/zsh-vi-mode"]
	path = shell/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
	shallow = true
[submodule "shell/zsh/plugins/zsh-bd"]
	path = shell/zsh/plugins/zsh-bd
	url = https://github.com/Tarrasch/zsh-bd.git
	shallow = true
[submodule "shell/zsh/plugins/zsh-syntax-highlighting"]
	path = shell/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
