[user]
  name = nalabelle
  email = git@nalabelle.com
[core]
  editor = vim --clean
  excludesfile = ~/.gitignore_global
  untrackedCache = true
[color]
  ui = true
[pull]
  rebase = true
[push]
	default = upstream
[diff]
  tool = vimdiff
[include]
  path = .gitconfig_local
[fetch]
  prune = true
[alias]
  gone = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}'
  gone-prune = !git gone | xargs git branch -d
  tld = rev-parse --show-toplevel
  fpush = push --force-with-lease
  log-compare = log --oneline --boundary --left-right --cherry-mark --decorate
  # append something like this for a default
  #origin/$(git branch --show-current)..${2:-${1:-HEAD}}"
  logf = log-compare --abbrev-commit --format='tformat:%C(auto,blue)%m%C(auto) %h %s%d %C(auto,dim)%cr'
  logr = logf --reverse
[init]
  defaultBranch = main
  templateDir = ~/.config/git/template
[protocol]
  version = 2
[rebase]
  autoStash = true
[diff "sopsdiffer"]
	textconv = "sops -d"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

#[user]
#	signingkey = /home/nalabelle/.ssh/id_ed25519.pub
#[commit]
#	gpgsign = true
#[gpg]
#	format = ssh
