[user]
  name = nalabelle
  email = nalabelle@gmail.com
[core]
	editor = vim
  excludesfile = ~/.gitignore_global
[color]
	ui = true
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	default = simple
[diff]
	tool = vimdiff
[include]
  path = .gitconfig_local
[fetch]
	prune = true
[alias]
  fpush = push --force-with-lease
