$include /etc/inputrc
set editing-mode vi
set show-mode-in-prompt on

$if Bash
  set vi-ins-mode-string \001\e[6 q\e[38;5;14m\002+\001\e[0m\002
  set vi-cmd-mode-string \001\e[2 q\e[38;5;13m\002!\001\e[0m\002
$else
  set vi-ins-mode-string \1\e[2 q\e[0m\2
  set vi-cmd-mode-string \1\e[6 q\e[0m\2
$endif

# Color files by types
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On

# Color the common prefix
set colored-completion-prefix On
# show completions on first tab
set show-all-if-ambiguous On
# turn off case sensitivity for completion
set completion-ignore-case On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On

set keymap vi-command
  #search history in command mode with up/down
  "k": history-search-backward
  "j": history-search-forward

# don't turn ~ into a path
#set expand-tilde off
