name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Run pre-commit
        run: nix develop --command pre-commit run --all-files --show-diff-on-failure

  build-home-manager:
    needs: pre-commit
    name: Build Home Manager Configurations (${{ matrix.config }})
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - config: "nalabelle@chandler"
            runner: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Build Home Manager configuration  ${{ matrix.config }}
        run: nix build .#homeConfigurations.${{ matrix.config }}.activationPackage

  build-darwin:
    needs: pre-commit
    name: Build Darwin Configurations (${{ matrix.config }})
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        config: [tennyson]
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install Nix (Determinate Systems)
        uses: DeterminateSystems/nix-installer-action@main

      - name: Build Darwin configuration
        run: nix build .#darwinConfigurations.${{ matrix.config }}.system

      - name: Build Darwin home configuration
        run: nix build .#homeConfigurations."nalabelle@darwin".activationPackage

  build-home-manager-darwin:
    needs: pre-commit
    name: Build Home Manager Darwin Configuration Package
    runs-on: macos-15
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Package home manager configuration
        run: make package-home

      - name: Upload home manager artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: home-manager-config
          path: artifacts/home-manager-config.tar.gz
